@model IEnumerable<SINPRO.Entity.DataModels.mMatch>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create" class="btn btn-success"> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.firstTimeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.firstTimePhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.matchTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.secondTimePhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.secondTimeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.matchDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inserted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.updated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.firstTimeName)
                </td>
                <td>
                    <img src="@item.firstTimePhoto" style="border-radius: 50%;" width="50px " height="50px">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.matchTime) : 00
                </td>
                <td>
                    <img src="@item.secondTimePhoto" style="border-radius: 50%;" width="50px " height="50px">

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.secondTimeName)
                </td>
                <td>
                     @item.matchDate.ToString("dd.MM.yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.inserted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.updated)
                </td>
                <td>
                    <div class="btn-group">
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.id">Edit</a> 
                        <a asp-action="Details" class="btn btn-info" asp-route-id="@item.id">Details</a> 
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
