@model SINPRO.Entity.DataModels.mUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>mUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.refreshToken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.refreshToken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.refershTokenExpiration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.refershTokenExpiration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inserted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inserted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mRole.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
